.myBtn {
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px;
  color: #61dafb;
  background-color: rgba(139, 152, 178, 0.5);
  border: 1px solid transparent;
  border-radius: 38px;
  cursor: pointer;
  margin-top: 40px;
  margin: 5px;
  transition: transform 250ms linear;
}
.myBtn:hover,
.myBtn:focus {
  border: 1px solid #61dafb;
  background-color: rgba(139, 152, 178, 0.75);
  transform: scale(0.95);
}
