.query-container {
  color: #61dafb;
}
.query-typography {
  margin-bottom: 15px;
  font-size: 24px;
  color: #61dafb;
}
/* .query-textfield {
  background-color: rgba(170, 170, 170, 0.2);
  color: #61dafb;
} */
