* {
  box-sizing: border-box;
}

/* body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 410px;
  margin: 0 auto;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  border-radius: 50%;
  margin: 1px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
