.weather {
  background-color: rgba(139, 152, 178, 0.15);
  border: 1px solid #61dafb;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weather__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather__loading img {
  max-width: 50px;
}

.weather__header {
  display: flex;
}
.weather__main {
  flex: 1 1 auto;
}

.weather__city-name {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 3px #61dafb;
}
.weather__city-main {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather__status {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .weather__body:{
} */
/* .weather__icon: {
} */

.weather__temp {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* .weather__feels-like{
} */

.weather__temp::after,
.weather__feels-like::after {
  display: inline-block;
  margin-left: 5px;
  content: '°C';
}
