.sliderWrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sliderContainer {
  position: relative;
  text-align: center;
  width: 229px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.quotesIcon {
  margin-bottom: 5px;
  animation-name: changeIconQuotesColor;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Contacts__icon-smartphone:hover {
  animation-play-state: paused;
}

@keyframes changeIconQuotesColor {
  0% {
    fill: #8b98b2;
  }

  30% {
    fill: #61dafb;
  }

  70% {
    fill: #61dafb;
  }

  100% {
    fill: #8b98b2;
  }
}

.quoteText {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2;
}

.authorText {
  position: relative;
  padding-top: 9px;
  color: grey;
  font-size: 14px;
  line-height: 2.7;
}
.authorText::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  right: 50%;
  width: 150px;
  border: 1px solid rgba(36, 42, 55, 0.5);
  transform: translate(-50%, -50%);
}

.slick-arrow {
  z-index: 5;
  display: 'block';
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: -35px;
}
.slick-next {
  position: absolute;
  top: 50%;
  right: -35px;
}

@media screen and (min-width: 768px) {
  .slick-arrow {
    width: 50px;
    height: 50px;
  }
  .slick-prev {
    left: -40px;
  }
  .slick-next {
    right: -40px;
  }
  .textContainer {
    width: 526px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 62px;
  }
  .sliderContainer {
    width: 526px;
  }
  .loginPageText {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 1.6;
  }
  .authorText {
    padding-top: 12px;
    font-size: 14px;
    line-height: 1.9;
  }
  .quotesIcon {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .textContainer {
    width: 397px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .sliderContainer {
    max-width: 1100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-top: 0;
  }
  .quotesIcon {
    margin-bottom: 15px;
  }
  .sliderWrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
