.photo-list-title {
  text-transform: uppercase;

  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 20px #61dafb, 1px 1px 20px #61dafb, 1px 1px 20px #61dafb,
    -1px -1px 20px #61dafb, -1px -1px 20px #61dafb;
}
.photo-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .photo-list {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
