.CircleLoaderWrapperBox {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CircleLoaderBtn {
}
.CircleLoaderWrapper {
  margin-left: 50px;
  width: 90px;
  height: 90px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.CircleLoader {
  display: block;
  width: 75px;
  height: 75px;
  background-color: rgba(139, 152, 178, 0.5);
  border-radius: 50%;
  border: 3px dashed #61dafb;
}
.CircleLoader.entering {
  animation: showLoader 0.5s forwards;
}
.CircleLoader.entered {
  animation: rotateLoader 0.5s infinite;
}
.CircleLoader.exiting {
  animation: showLoader 0.5s reverse;
}
.CircleLoader.exited {
}

@keyframes showLoader {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
