.post__wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.post__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 0 0 20px #61dafb, 1px 1px 20px #61dafb, 1px 1px 20px #61dafb,
    -1px -1px 20px #61dafb, -1px -1px 20px #61dafb;
}
.post__title-text {
  text-align: center;
}
.post__title-link {
  color: white;
  text-decoration: underline;
}
.post__title-link:hover {
  color: rgba(97, 218, 251, 1);
}

.post {
  display: flex;
  justify-content: center;
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid rgba(97, 218, 251, 0.5);
  border-radius: 25px;
}
.post:hover,
.post:focus {
  border: 2px solid rgba(97, 218, 251, 1);
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* .post-enter {
  transform: translateX(-500px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 700ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-500px);
  transition: all 700ms ease-in;
} */
.posr__btns {
  display: flex;
}
.PostsNotFound {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 1px 1px 10px #fff, 4px 4px 2px rgba(0, 0, 0, 0.15);
  animation-name: changeTextColor;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes changeTextColor {
  0% {
    color: #fff;
  }
  30% {
    color: rgba(97, 218, 251, 1);
  }
  70% {
    color: rgba(97, 218, 251, 1);
  }
  100% {
    color: #fff;
  }
}
