.post__wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.post {
  display: flex;
  justify-content: center;
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid rgba(97, 218, 251, 0.5);
  border-radius: 25px;
}
.post:hover,
.post:focus {
  border: 2px solid rgba(97, 218, 251, 1);
}

.PostsNotFound {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 1px 1px 10px #fff, 4px 4px 2px rgba(0, 0, 0, 0.15);
  animation-name: changeTextColor;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes changeTextColor {
  0% {
    color: #fff;
  }
  30% {
    color: rgba(97, 218, 251, 1);
  }
  70% {
    color: rgba(97, 218, 251, 1);
  }
  100% {
    color: #fff;
  }
}
