.pageWrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pageBtn {
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 18px;
  color: #61dafb;
  background-color: rgba(139, 152, 178, 0.5);
  border: 1px solid transparent;
  border-radius: 38px;
  cursor: pointer;
  margin-top: 40px;
  margin: 5px;
  transition: transform 250ms linear;
}

.pageBtn:hover,
.pageBtn:focus {
  border: 1px solid #61dafb;
  background-color: rgba(139, 152, 178, 0.75);
  transform: scale(0.95);
  font-weight: bold;
}

.pageBtnCurrent {
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 18px;
  border: 1px solid transparent;
  border-radius: 38px;
  cursor: pointer;
  margin-top: 40px;
  margin: 5px;
  transition: transform 250ms linear;
  border: 1px solid #61dafb;
  background-color: rgba(139, 152, 178, 0.75);
  color: #ffffff;
  font-weight: bold;
}

.pageBtnCurrent:hover,
.pageBtnCurrent:focus {
  border: 1px solid #61dafb;
  background-color: rgba(139, 152, 178, 0.75);
  transform: scale(0.95);
  font-weight: bold;
}

/* @media screen and (min-width: 768px) {
  .pageWrapper {
  }
} */
