.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-button-wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.search-button-icon-container {
  margin-left: 10px;
  position: relative;
  height: 20px;
}
.search-button-icon {
  fill: #61dafb;
}
.search-button-wapper:hover .search-button-icon {
  filter: drop-shadow(0px 2px 3px #ffffff);
}

@media screen and (min-width: 768px) {
  .SearchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
