.SearchForm {
  display: flex;
}
.search-button-wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.search-button-icon-container {
  margin-left: 10px;
  position: relative;
  height: 20px;
}
.search-button-icon {
  fill: #61dafb;
}
.search-button-wapper:hover
  .search-button-icon-container
  .search-button-icon:hover {
  filter: drop-shadow(0px 2px 3px #ffffff);
}
