.SearchForm {
  display: flex;
}
.search-button-wapper {
  position: relative;
  width: 100px;
}
.icon-search {
  fill: rgb(154, 160, 166);
  position: absolute;
  top: 4px;
  right: -4px;
  /* z-index: 0; */
}
.search-button-wapper .icon-search:focus {
  fill: #61dafb;
}

/* .SearchFormBtn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
} */
