.ImageGallery {
  display: grid;
  /* max-width: calc(100vw - 48px); */
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .ImageGallery {
    max-width: 728px;
  }
}
@media screen and (min-width: 1250px) {
  .ImageGallery {
    max-width: 840px;
  }
}
