@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.code-phrase-wrapper {
  text-align: center;
}

.code-phrase {
  color: #61dafb;
  background-image: -webkit-linear-gradient(45deg, #61dafb 44%, #ffffff 55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  animation: fontweight 3s infinite;
  animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes fontweight {
  from {
    font-weight: 100;
    letter-spacing: -1px;
  }

  50% {
    font-weight: 900;
    letter-spacing: 1px;
  }

  to {
    font-weight: 100;
    letter-spacing: -1px;
  }
}

.code-phrase-smile {
  font-size: 2rem;
}
