.colorSwitcherWrapper {
  display: flex;
  justify-content: center;
}
.colorSwitcherBtn {
  margin: 50px 20px;
  padding: 15px 50px;

  font-size: 30px;
  font-weight: bold;

  background-color: #b6d0e0;
  border: none;
  border-radius: 10px;
}
